body {
  font-family: 'Work Sans';
  background: linear-gradient(rgba(255, 255, 255, 0.65), rgba(216, 216, 216, 0.65)), url("../img/bg.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: .1em;
  color: #980035 !important;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
  text-transform: uppercase;
  color: #223843;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.bg-faded {
  background-color: rgba(216, 216, 216, 0.85);
}

#mainNav {
  background-color: #223843;
  font-family: 'Raleway';
  padding: 10px 0 !important;
}

#mainNav .navbar-brand {
  color: #FF5E5B;
}

#mainNav .navbar-nav .nav-item {
  cursor: pointer;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid transparent;
  transition: border-color 0.5s linear, color 0.5s linear;
  font-weight: normal;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
  border-color: #fff;
}

#mainNav .navbar-nav .nav-item.active .nav-link, #mainNav .navbar-nav .nav-item.active:hover .nav-link {
  color: #fff;
  border-color: #980035;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    border-color: #fff;
  }
}

.instagram-icon {
  width: 25px;
  height: 25px;
  background-image: url("../img/instagram-icon.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
  margin-right: 10px;
}

.btn-xl {
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn-xl:hover {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn:hover {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn-secondary {
  background: #223843;
  border: none;
}

.btn-secondary:hover {
  background: black;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: right;
  }
  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.home-cta {
  margin: 30px auto 0 auto;
}

.page-section.cta {
  margin-bottom: 0;
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(152, 0, 53, 0.9);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}

.contact-form iframe {
  max-width: 100%;
  height: 800px;
}

.list-hours {
  font-size: 0.9rem;
}

.list-hours .list-hours-item {
  border-bottom: 1px solid rgba(152, 0, 53, 0.5);
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.list-hours .list-hours-item.today {
  font-weight: bold;
  color: #980035;
}

@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
  background-color: #223843;
  padding: 15px 0;
}

.footer a {
  color: #d8d8d8;
}

.text-primary {
  color: #980035;
}

.bg-primary {
  background-color: #980035;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.btn-primary {
  background-color: #980035;
  border-color: #980035;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #650023;
  border-color: #650023;
}

.font-weight-light {
  font-weight: 100;
}
